<a href="https://colab.research.google.com/github/urenajose/lambdata_urena/blob/main/Unit_3_1_assigment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
print("my repo is at:","https://github.com/urenajose/lambdata_urena")

my repo is at: https://github.com/urenajose/lambdata_urena

In [19]:
import pandas as pd
import numpy as np

In [1]:
pip install -i https://test.pypi.org/simple/ lambdata-urena1==0.1.1

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: lambdata-urena1==0.1.1 in /usr/local/lib/python3.6/dist-packages (0.1.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from lambdata-urena1==0.1.1) (1.1.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lambdata-urena1==0.1.1) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-urena1==0.1.1) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-urena1==0.1.1) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->lambdata-urena1==0.1.1) (1.15.0)

In [2]:
import lambdata_urena1 as urena1

In [3]:
'''added two functions to my pkg is a float check if string is formatted as a float and dd_mm_yyyy columns, 
pass a pd.df and a column with str with dates returns self pd.df with 3 extra columns for day, month and year'''

'added two functions to my pkg is a float check if string is formatted as a float and dd_mm_yyyy columns, \npass a pd.df and a column with str with dates returns self pd.df with 3 extra columns for day, month and year'

In [9]:
df_shelter = pd.read_csv('https://raw.githubusercontent.com/urenajose/DS-Unit-2-Applied-Modeling/master/aac_shelter_outcomes.csv')

In [14]:
df_shelter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78256 entries, 0 to 78255
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age_upon_outcome  78248 non-null  object
 1   animal_id         78256 non-null  object
 2   animal_type       78256 non-null  object
 3   breed             78256 non-null  object
 4   color             78256 non-null  object
 5   date_of_birth     78256 non-null  object
 6   datetime          78256 non-null  object
 7   monthyear         78256 non-null  object
 8   name              54370 non-null  object
 9   outcome_subtype   35963 non-null  object
 10  outcome_type      78244 non-null  object
 11  sex_upon_outcome  78254 non-null  object
dtypes: object(12)
memory usage: 7.2+ MB

In [16]:
urena1.dd_mm_yyyy_columns(df_shelter,'datetime').info() #now it has 15 columns day month and year

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78256 entries, 0 to 78255
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age_upon_outcome  78248 non-null  object
 1   animal_id         78256 non-null  object
 2   animal_type       78256 non-null  object
 3   breed             78256 non-null  object
 4   color             78256 non-null  object
 5   date_of_birth     78256 non-null  object
 6   datetime          78256 non-null  object
 7   monthyear         78256 non-null  object
 8   name              54370 non-null  object
 9   outcome_subtype   35963 non-null  object
 10  outcome_type      78244 non-null  object
 11  sex_upon_outcome  78254 non-null  object
 12  day               78256 non-null  int64
 13  month             78256 non-null  int64
 14  year              78256 non-null  int64
dtypes: int64(3), object(12)
memory usage: 9.0+ MB

In [22]:
print(urena1.isit_float("1.1"),
urena1.isit_float("1"),
urena1.isit_float(".1"),
urena1.isit_float('one.one'))

True False True False

In [23]:
urena1.ONES

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
dtype: float64

In [24]:
urena1.ZEROS

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
dtype: float64