<a href="https://colab.research.google.com/github/urenajose/lambdata_urena/blob/main/Unit_3_1_assigment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("my repo is at:","https://github.com/urenajose/lambdata_urena")

my repo is at: https://github.com/urenajose/lambdata_urena

In [2]:
import pandas as pd
import numpy as np

In [17]:
pip install -i https://test.pypi.org/simple/ lambdata-urena1==0.2.1

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: lambdata-urena1==0.2.1 in /usr/local/lib/python3.6/dist-packages (0.2.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from lambdata-urena1==0.2.1) (1.1.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lambdata-urena1==0.2.1) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-urena1==0.2.1) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-urena1==0.2.1) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->lambdata-urena1==0.2.1) (1.15.0)

In [6]:
import lambdata_urena1 as ju

In [7]:
#added two functions to my pkg is a float check if string is formatted as a float and datime_columns, 
#pass a pd.df and a column with str with dates returns self pd.df with 3 extra columns for day, month and year

In [19]:
df_shelter = pd.read_csv('https://raw.githubusercontent.com/urenajose/DS-Unit-2-Applied-Modeling/master/aac_shelter_outcomes.csv')

In [18]:
df_shelter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78256 entries, 0 to 78255
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age_upon_outcome  78248 non-null  object
 1   animal_id         78256 non-null  object
 2   animal_type       78256 non-null  object
 3   breed             78256 non-null  object
 4   color             78256 non-null  object
 5   date_of_birth     78256 non-null  object
 6   datetime          78256 non-null  object
 7   monthyear         78256 non-null  object
 8   name              54370 non-null  object
 9   outcome_subtype   35963 non-null  object
 10  outcome_type      78244 non-null  object
 11  sex_upon_outcome  78254 non-null  object
 12  day               78256 non-null  int64
 13  year              78256 non-null  int64
dtypes: int64(2), object(12)
memory usage: 8.4+ MB

In [20]:
ju.datetime_columns(df_shelter,'datetime').info() #now it has 15 columns day month and year

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78256 entries, 0 to 78255
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age_upon_outcome  78248 non-null  object
 1   animal_id         78256 non-null  object
 2   animal_type       78256 non-null  object
 3   breed             78256 non-null  object
 4   color             78256 non-null  object
 5   date_of_birth     78256 non-null  object
 6   datetime          78256 non-null  object
 7   monthyear         78256 non-null  object
 8   name              54370 non-null  object
 9   outcome_subtype   35963 non-null  object
 10  outcome_type      78244 non-null  object
 11  sex_upon_outcome  78254 non-null  object
 12  day               78256 non-null  int64
 13  year              78256 non-null  int64
dtypes: int64(2), object(12)
memory usage: 8.4+ MB

In [21]:
print(ju.isit_float("1.1"),
ju.isit_float("1"),
ju.isit_float(".1"),
ju.isit_float('one.one'))

True False True False

In [ ]:
#added Dead poet society class to hold poem information

In [24]:
ju.poem1

Dead Poets Society(Poem Title=O Captain! My Captain!, Name Of Poet=Walt Whitman,
               Number of Words=199, Poem's Link =https://www.poetryfoundation.org/poems/45474/o-captain-my-captain)

In [25]:
ju.poem2

Dead Poets Society(Poem Title=To the Virgins, to Make Much of Time, Name Of Poet=Robert Herrick,
               Number of Words=96, Poem's Link =https://www.poetryfoundation.org/poems/46546/to-the-virgins-to-make-much-of-time)